<%= form_for(movie) do |f| %>
  <% if movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
      <% movie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Rank %>
    <%= f.number_field :Rank %>
  </div>

  <div class="field">
    <%= f.label :Title %>
    <%= f.text_field :Title %>
  </div>

  <div class="field">
    <%= f.label :Genre %>
    <%= f.text_field :Genre %>
  </div>

  <div class="field">
    <%= f.label :Description %>
    <%= f.text_field :Description %>
  </div>

  <div class="field">
    <%= f.label :Director %>
    <%= f.text_field :Director %>
  </div>

  <div class="field">
    <%= f.label :Actors %>
    <%= f.text_field :Actors %>
  </div>

  <div class="field">
    <%= f.label :Year %>
    <%= f.number_field :Year %>
  </div>

  <div class="field">
    <%= f.label :Runtime %>
    <%= f.number_field :Runtime %>
  </div>

  <div class="field">
    <%= f.label :Rating %>
    <%= f.text_field :Rating %>
  </div>

  <div class="field">
    <%= f.label :Votes %>
    <%= f.number_field :Votes %>
  </div>

  <div class="field">
    <%= f.label :Revenue %>
    <%= f.text_field :Revenue %>
  </div>

  <div class="field">
    <%= f.label :Metascore %>
    <%= f.number_field :Metascore %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
